A:link {text-decoration:none; color: #9f9ab2;} 
A:visited {text-decoration:none; color: #9f9ab2;}
A:hover {text-decoration:none; color: #000000;}
img{
    position: relative;
}

/*제목*/
tlt{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:25px;
  color: #9f9ab2;
  display: inline;

  margin-top: 290px;
  margin-left: 9px;
}

h2{
    font-family: 'Noto Sans KR', sans-serif;
    
    color: #9f9ab2;
}

clt{
    font-family: 'Noto Sans KR', sans-serif;
}

input[type=submit] { 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15pt; 
    
    width: 100%;
    background-color: #3F3566;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=password] {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15pt; 
    
    width: 100%;
    background-color: #977bd0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text] {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15pt; 
    
    width: 100%;
    background-color: #977bd0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}