{% load static %}

<!DOCTYPE html>
<html>
	<head>
        <link rel="icon" href="{% static 'basic/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:700&display=swap" rel="stylesheet">
        {% block commands %}{% endblock %}
	</head>
	<body>
		<div id="ma">
            <script>
                var el = document.getElementById("ma");
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    el.style.width = '100%';
                } else {
                    el.style.width = '80%';
                }
            </script>
            
		    <div class="MainTitle"><a href="{% url 'index' %}" style="color:#FD7A8D;">IDEUS</a></div>
		    <div class="relative1">
                <div class="tlt" style="margin-left: 0px;"><a href="/list/question/all/newest">&nbsp;&nbsp;아이디어 보기</a></div>
                <div style="float: right"><h7><a href="{% url 'logout' %}">로그아웃&nbsp;&nbsp;</a></h7></div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>